
<div id = "index-container">
	<div id = "side-container">
		<div id = "logo">
			<%= image_tag("quickmessanger-logo.jpg", class: "logo-img") %>
			<div id = "logo-text">QuickMessanger</div>
		</div>	
		<div id = "index-connection-status">
		</div>
		<div id = "new-message-button">
			<div id = "regular-button" style = "cursor:pointer">New Message</div>
		</div>
		<!--
		<div>
			<div id = "regular-button">Setting</div>
		</div>
	-->
	<div>
		<%= link_to "Sign Out",  destroy_user_session_path ,method: :delete, id: "danger-button" %>
	</div>
</div>
<div class = "conversation-container">

	<div class = "new-message-div">
		<%= form_for(:conversation, url: conversations_path) do |f| %>
		<%=	text_field_tag :receiver_email, params[:receiver_email], placeholder: "Recipient Email" %>
		<%= text_area_tag :message_to_send, params[:message_to_send], placeholder: "Message to Send" %>
		<div>
			<%= f.submit "Send" %>
		</div>
		<div style = "clear:both">
		</div>
		<% end %>
	</div>
	<div id = "ch_<%= current_user.id %>" class = "conversation-holder">
		<% @conversations.each do |conversation| %>
		<div id = "co_<%= conversation.id %>">
			<%= link_to conversation do %>
			<div class = "conversation">
				<div class = "conversation-1st-row">
					<% if current_user.id == conversation.sender_id %>
					<div style = "float:left;display:inline-block"><%= User.find(conversation.receiver_id).email %></div>
					<% else %>
					<div style = "float:left;display:inline-block"><%= User.find(conversation.sender_id).email %></div>
					<% end %>
					<div style = "float:right;display:inline-block"><%= time_ago_in_words(conversation.messages.last.created_at) %> ago.</div>
					<div style = "clear:both">
					</div>
				</div>
				<div class = "conversation-2nd-row">
					<div style = "padding-left:3rem;color:rgb(155, 174, 200);">
						<%= truncate(conversation.messages.last.text, length: 60) %>
					</div>
				</div>
				<div>
					
				</div>
			</div>
			<% end %>
		</div>
		<% end %>

	</div>
</div>
</div>
<script type="text/javascript">
$("#new-message-button").on("click",function(){
	$(".new-message-div").slideToggle();

});

</script>