
<div id = "index-container">
	<div id = "side-container">
		<div id = "logo">
			<%= image_tag("quickmessanger-logo.jpeg", style: "width:100%") %>
			<div id = "logo-text">QuickMessanger</div>
		</div>	
		<div id = "index-connection-status">

		</div>
		<div id = "new-message-button">
			<div id = "new-message-text">New Message</div>
		</div>
		<div id = "setting-button">
			<div id = "setting-text">Setting</div>
		</div>
		<div id = "sign-out-button">
			<div id = "sign-out-text"><%= link_to "Sign Out",  destroy_user_session_path ,method: :delete %></div>
		</div>
	</div>
	<div class = "conversation-container">
		

		<%= render @conversation %>
		<div id = "message-input">
			<%= form_for(:conversation, url: conversation_message_path, method: :get, remote: true) do |f|%>
			<%= f.label "Message" %>
			<div class = "message-text-input">
				<%= text_area_tag :message_to_send %>
			</div>
			<%= f.hidden_field :conversation_id, value: @conversation.id %>
			<%= f.submit "send" %>
			<% end %>
		</div>


	</div>
	<div style = "clear:both">
	</div>
	<%= link_to "Back", root_path, class: "back-button" %>
</div>
