<script>var id = '<%= current_user.id %>'</script>
<div id = "index-container">
	<div id = "side-container">
		<div id = "logo">
			<%= image_tag("quickmessanger-logo.jpg", style: "width:100%") %>
			<div id = "logo-text">QuickMessanger</div>
		</div>	
		<div id = "index-connection-status">
		</div>
		<div>
			<div id = "regular-button">Setting</div>
		</div>
		<div>
			<%= link_to "Sign Out",  destroy_user_session_path ,method: :delete, id: "danger-button" %>
		</div>
		<div>
			<%= link_to "Back", root_path, id: "regular-button" %>
		</div>
	</div>
	<div class = "conversation-container">
		<%= render @conversation %>
		<div id = "message-input">
			<%= form_for(:conversation, url: conversation_message_path, method: :get, remote: true) do |f|%>
			<%= f.hidden_field :conversation_id, value: @conversation.id %>
			<div class = "show-message-input">
				<%= text_area_tag :message_to_send %>
			</div>
			<div class = "show-submit-button">
				<%= f.submit "send", class: "send-button" %>
			</div>
			<% end %>
		</div>
	</div>
	<div style = "clear:both">
	</div>
	
</div>
