<script>var id = '<%= current_user.id %>'</script>
<% if (current_user.id == @conversation.receiver_id) or (current_user.id == @conversation.sender_id) %>
<div id = "index-container">
	<div id = "side-container">
		<div id = "logo">
			<%= image_tag("quickmessanger-logo.jpg", class: "logo-img") %>
			<div id = "logo-text">QuickMessanger</div>
		</div>	
		<div>
			<%= link_to current_user.email, edit_user_registration_path, id: "regular-button" %>
		</div>
		<div id = "index-connection-status">
		</div>
		<div>
			<%= link_to "Back", root_path, id: "regular-button" %>
		</div>
		<div>
			<%= link_to "Sign Out",  destroy_user_session_path ,method: :delete, id: "danger-button" %>
		</div>
		
	</div>
	<div class = "conversation-container">
		<%= render @conversation %>
		<div id = "message-input">
			<%= form_for(:conversation, url: conversation_message_path, method: :get, remote: true) do |f|%>
			<%= f.hidden_field :conversation_id, value: @conversation.id %>
			<div class = "show-message-input">
				<%= text_area_tag :message_to_send, params[:message_to_send], id: "i" %>
			</div>
			<div class = "show-submit-button">
				<%= f.submit "send", class: "send-button" %>
			</div>
			<% end %>
		</div>
	</div>
	<div style = "clear:both">
	</div>
	<script>
	$('#i').keypress( function( e ) {
	  if( e.keyCode == 13 ) { $(this).closest('form').trigger('submit'); }
	} );
	</script>
	
</div>
<% else %>
<div>
	Access Denied
</div>
<% end %>
