
<div id = "index-container">
	<div id = "side-container">
		<div id = "logo">
			Messanger
		</div>	
		<div id = "index-connection-status">

		</div>

	</div>
	<div id = "conversation-container">
		<div id = "message-holder">
			<% @conversation.messages.each do |message| %>
			<br>
			<%= User.find(message.user_id).email %>: <%= message.text %>
			<br>
			<% end %>
			<br>


		</div>
		<div id = "message-input">
			<%= form_for(:conversation, url: conversation_message_path, method: :get) do |f|%>
			<%= f.label "Message" %>
			<%= text_area_tag :message_to_send %>
			<%= f.submit "send" %>
			<% end %>
		</div>


	</div>
	<div style = "clear:both">
	</div>
	<%= link_to "Back", root_path, class: "back-button" %>
</div>
