
<div id = "index-container">
	<div id = "side-container">
		<div id = "logo">
			Messanger
		</div>	
		<div id = "index-connection-status">

		</div>

	</div>
	<div id = "conversation-container">
		

		<%= render @conversation %>
		<div id = "message-input">
			<%= form_for(:conversation, url: conversation_message_path, method: :get, remote: true) do |f|%>
			<%= f.label "Message" %>
			<%= text_area_tag :message_to_send %>
			<%= f.hidden_field :conversation_id, value: @conversation.id %>
			<%= f.submit "send" %>
			<% end %>
		</div>


	</div>
	<div style = "clear:both">
	</div>
	<%= link_to "Back", root_path, class: "back-button" %>
</div>
