<!DOCTYPE html>
<html>
  <head>
    <title>QuickMessanger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice||alert %>
    <div class = "notification">
    	<p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <% end %>
    <%= yield %>
    <script>
     $(document).ready(function(){
      setTimeout(function(){
        $('.notification').fadeOut(2000,function(){
          $("this").remove();
        });
      },2000);
     });
    </script>
  </body>

</html>
