<!DOCTYPE html>
<html>
  <head>
    <title>QuickMessanger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <% if notice||alert %>
    <div class = "notification">
    	<p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <% end %>
    <%= yield %>
    <script>
     $(document).ready(function(){
      setTimeout(function(){
        $('.notification').fadeOut(700,function(){
          $("this").remove();
        });
      },600);
     });
    </script>
  </body>

</html>
